hcloud_token           = "{{ hetzner_api_token }}"
ssh_public_key_path    = "{{ ssh_public_key_path }}"
ssh_private_key_path   = "{{ ssh_private_key_path }}"
k3s_token              = "{{ k3s_token }}"
location               = "{{ location }}"
master_server_type           = "{{ master_server_type }}"
webrtc_server_type           = "{{ webrtc_server_type }}"
web_server_type              = "{{ web_server_type }}"
estimated_monthly_cost_eur   = "{{ estimated_monthly_cost_eur }}"
firewall_hardened            = {{ firewall_hardened }}
firewall_allow_ssh           = {{ firewall_allow_ssh }}
